<div class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Ahora o nunca! trabajemos juntos</h1> 
                <p>Daré mi mejor esfuerzo para aprender, aportar valor y que tengamos una fructífera relación a largo plazo</p>
            </div>
            <div id="contacto" class="right padded">
                <form action="{{ url_for('portfolio.mail') }}" method="POST" class="contact-form">
                    <input type="text" name="name" id="name" placeholder="Nombre" required>
                    <input type="email" name="email" id="email" placeholder="Correo" required>
                    <textarea name="message" placeholder="Deja tu mensaje..." id="message" required minlength="10"></textarea>
                    <button class="btn full-width">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>