<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo con pasión aplicaciones y sitios web para empresas.</h1>
                <p>Me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones por gusto. 
                    Esta web la construí desde cero con Python y Flask!</p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar sobre lo que quieras!</h1>
                <p>Sólo envíame un correo <a class="orange" href="#contacto"> haciendo clic aquí!</a></p>
            </div>
        </div>
    </div>
</div>